* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.burger {
  transition: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 40px;
  /* transform: translate(-50%, 50%); */
  border: solid black 4px;
  font-size: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.burger:hover {
  transform: rotate(45deg);
}
aside {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0px;
  width: 0px;
  height: 100vh;
  background-color: #00000a;
  transition: 0.4s;
  transform: translate(-180px, 0);
}

.burger:hover ~ aside {
  width: 180px;
  transform: translate(0, 0);
}
ul > li {
  color: green;
  font-size: 30px;
  padding-left: 15px;
  line-height: calc(50px);
}
