* {
  margin: 0;
}
.text {
  position: absolute;
  top: 50vh;
  left: 50vw;
  font-size: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.text::after {
  content: "";
  position: absolute;
  left: 78%;
  height: 100%;
  width: 22%;
  background-color: white;
  animation: disapear_dots 1s steps(3, start) infinite;
}

@keyframes disapear_dots {
  0% {
  }
  100% {
    left: 100%;
  }
}
